

nav{
	widows: 100%;
	height: 60px;
	background: #344051
}

.logo{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	padding-left: 388px;
	float: left;
	
}

.menu{
	float: left;
	padding-left: 432px;

}

.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
}

.main{
	width: 100%;
	height: calc(100% - 60px);
	background: url(../img/r2.png) 100% 100%/auto 85% no-repeat, url(../img/bg.jpg.) center/cover no-repeat;
}

.title__conteiner{
	float: left;

	margin: 332px 0px 0px 404px;
	color: #2c384a;
	text-align: center;
}

.title__conteiner h1{
	font-size: 60px;
	font-weight: bold;
}

.title__conteiner h4{
	margin-top: 40px;
	font-size: 20px;
	font-weight: bold;
    color: #8b919c;

}	

.title__conteiner input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 7px;
	color: #6d7682;  
	font-size: 13px;
	padding: 0px 16px;
	margin: 58px 14px 0px 14px;

}

.about{
	width: 100%;
	height: 100% ;
	background: url(../img/boy2.jpg) 51% 20%/auto 25% no-repeat;

}



.about_me h2{
    margin: 108px 0px 200px 800px;
    font-size: 20px;
	font-weight: bold;
}

.about_me p{
	margin: 400px 0px 140px 90px;
	color: #6d7682;
	font-size: 15px;
	text-align: center;

}

.about_me input{
	font-size: 15px;
	color: #6d7682;
	

	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: url(../img/icon.jpg) 10% 40%/auto 35% no-repeat;
	border-radius: 7px;
	color: #6d7682;  
	font-size: 15px;
	padding: 0px 16px;
    margin: 0px 0px 100px 770px;

}

.what_i_can_do{
	width: 100%;
	height: 100% ;
	background: url(../img/fon.jpg) 100% 100%/auto 100% no-repeat;

}

.what h2{
    padding: 105px 0px 100px 780px;
    font-size: 20px;
	font-weight: bold;



}

.f {
	float: left;
	width: 100px;
	text-align: center;
}



 











	