

nav{
	widows: 100%;
	height: 60px;
	background: #344051
}

.logo{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	padding-left: 388px;
	float: left;
	
}

.menu{
	float: left;
	padding-left: 432px;

}

.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
}

.main{
	width: 100%;
	height: calc(100% - 60px);
	background: url(../img/r2.png) 100% 100%/auto 85% no-repeat, url(../img/bg.jpg.) center/cover no-repeat;
}

.title__conteiner{
	float: left;

	margin: 332px 0px 0px 404px;
	color: #2c384a;
	text-align: center;
}

.title__conteiner h1{
	font-size: 60px;
	font-weight: bold;
}

.title__conteiner h4{
	margin-top: 40px;
	font-size: 20px;
	font-weight: bold;
    color: #8b919c;

}	

.title__conteiner input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 7px;
	color: #6d7682;  
	font-size: 13px;
	padding: 0px 16px;
	margin: 58px 14px 0px 14px;

}

.about{
	width: 100%;
	height: 100% ;
	background: url(../img/boy2.jpg) 51% 20%/auto 25% no-repeat;

}



.about_me h2{
    margin: 108px 0px 200px 800px;
    font-size: 20px;
	font-weight: bold;
}

.about_me p{
	margin: 400px 0px 140px 90px;
	color: #6d7682;
	font-size: 15px;
	text-align: center;

}

.about_me input{
	font-size: 15px;
	color: #6d7682;
	

	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: url(../img/icon.jpg) 10% 40%/auto 35% no-repeat;
	border-radius: 7px;
	color: #6d7682;  
	font-size: 15px;
	padding: 0px 16px;
    margin: 0px 0px 100px 770px;

}

.what_i_can_do{

	width: 100%;
	height: 525px;
	background: url(../img/fon.jpg) 100% 100%/auto 100% no-repeat;

}



.what h2{
    padding: 105px 0px 100px 777px;
    font-size: 20px;
	font-weight: bold;




}

.f{
	float: left;
	width: 600px;
	padding-top: 132px;
	padding-left: 200px;
	text-align: center;

}


.f h4{

	padding-top: 10px;
	font-size: 21px;
	color: #d49152;
}


.f p{
	padding-top: 10px;
}

.f1{
	float: left;
	width: 400px;
	padding-top: 132px;
	padding-left: 0px;
	text-align: center;

}


.f1 h4{

	padding-top: 10px;
	font-size: 21px;
	color: #d49152;
}


.f1 p{
	padding-top: 10px;
}

.f2{
	float: left;
	width: 400px;
	padding-top: 132px;
	padding-right: 200px;
	text-align: center;

}


.f2 h4{

	padding-top: 10px;
	font-size: 21px;
	color: #d49152;
}


.f2 p{
	padding-top: 10px;
}

.f3{
	float: left;
	width: 100px;
	padding-top: 132px;
	padding-right: 0px;
	text-align: center;

}


.f3 h4{

	padding-top: 10px;
	font-size: 21px;
	color: #d49152;
}


.f3 p{
	padding-top: 10px;
}

.cases{
	width: 100%;
	height: 100% ;
	background: url(../img/fotka.png) 50% 35%/65% 55% no-repeat;

}

.k h2{
    margin: 105px 100px 100px 800px;
    font-size: 20px;
	font-weight: bold;

}

.k p{
	margin-top: -50px;
	padding-left: 400px;

}

.k1{
	padding-top: 500px;
	padding-left: 300px;

}

.k1 h4{
	padding-top: 10px;
	font-size: 15px;
	font-weight: bold;

}

.k1 a{
	height: 50px;
	text-align: center;
	border: 2px solid #63b5ae;
	background-color: #63b5ae;
	border-radius: 3px;
	color: #fff;  
	font-size: 13px;
	padding: 0px 20px;
	margin: 400px 0px;

}

.k2{
	width: 1450px;
	margin-top: -80px;
	padding-left: 600px;


}

.k2 h4{
	font-size: 15px;
	font-weight: bold;

}

.calculation{
	width: 100%;
	height: 100%;

}

.calculation h2{
	text-align: center;
	padding-top: 100px;
	padding-left: 0px;
	font-size: 25px;
	font-weight: bold;
}

.c{
	padding-top: 55px;
	padding-left: 500px;

}

.c h4{
	margin-top: 50px;
	font-size: 15px;
	font-weight: bold;

}

.c select{
	height: 25px;
	width: 750px;
	border: 2px solid #eeeeee;
	background-color: #eeeeee;
	border-radius: 3px;
	color: #1c2534;  
	font-size: 13px;
	margin-top: 5px;

}

.c1{
	padding-top: 60px;
}

.c1 p{
	padding-top: 10px;
	font-size: 15px;
	font-weight: bold;

}

.c1 input{
 
	text-align: right;
	font-size: 15px;

	
	padding-left: 575px;
	font-weight: bold;
}

.statistics{
	width: 100%;
	height: 500px;
	background: url(../img/fon2.png) 100% 100%/auto 100% no-repeat;

}

.s{
	float: left;
	width: 400px;
	padding-top: 132px;
	padding-left: 400px;
	text-align: center;

}


.s h3{

	padding-top: 10px;
	font-size: 35px;
	color: #323e4f;
	font-weight: bold;
}


.s p{
	padding-top: 10px;
}	

.s1{
	float: left;
	width: 400px;
	padding-top: 132px;
	padding-left: 250px;
	text-align: center;

}


.s1 h3{

	padding-top: 10px;
	font-size: 35px;
	color: #323e4f;
	font-weight: bold;
}


.s1 p{
	padding-top: 10px;


}
.s2{
	float: left;
	width: 350px;
	padding-top: 132px;
	padding-left: 100px;
	text-align: center;

}


.s2 h3{

	padding-top: 10px;
	font-size: 35px;
	color: #323e4f;
	font-weight: bold;
}


.s2 p{
	padding-top: 10px;
}

.s3{
	float: left;
	width: 400px;
	padding-top: 132px;
	padding-left: 0px;
	text-align: center;

}


.s3 h3{

	padding-top: 10px;
	font-size: 35px;
	color: #323e4f;
	font-weight: bold;
}


.s3 p{
	padding-top: 10px;


}

.reviews{
	width: 100%;
	height: 590px;
	background: url(../img/man.png) 50% 46%/auto 25% no-repeat;
}

.o{
	margin-top: 250px;

}

.o p{
	padding-top: 20px;
    text-align: center;
    font-size: 17px;


}

.contakt{
	width: 100%;
	height: 800px;
	background: url(../img/fon3.png) 100% 100%/100% 100%;
	color: #ffffff
}

.contakt p{
	padding-top: 60px;
	font-size: 17px;
	text-align: center;
}


.z{
	margin-left: 550px;
	margin-top: 60px;

}
.z1{
	float: left;

	
}

.z2{
	float: left;
	padding-left: 100px;

}

.z3{
	float: left;
	padding-left: 100px;
 

}

.z img{
	padding-left: 55px;
}

.contakt h4{
	text-align: center;
	margin-top: 230px;
	font-size: 20px;

}

.zz{
	margin-left: 455px;
	margin-top: 25px;
}

.zz input{
	margin-left: 25px;
	width: 355px;
	height: 25px;
	background-color: #d2d6dc;
}

.contakt textarea{
	margin-left: 480px;
	margin-top: 20px;
	width: 740px;
	height: 100px;
	background-color: #d2d6dc;

}

.ot input{
	background: none;
	height: 40px;
	text-align: center;
	border: 2px solid #ffffff;
	border-radius: 5px;
	color: #ffffff;  
	font-size: 15px;
	padding: 0px 16px;
    margin: 25px 0px 100px 795px;
}










	